.game_field
{
    background: url("../img/background.png");
    z-index: 0;
    margin-top: 20px;
    position: absolute;
    left: 50%;
}

.control_panel
{
    margin: auto;
    z-index: 0;
    padding: 5px 15px 5px 5px;
    width: 245px;
    border: 10px solid #2d0001;
    border-radius: 10px;
    background: #700005;
}

.menu_button
{
    display: block;
    text-align: center;
    margin: auto 10px;
    padding: 6px 0 0 0;
    width: 150px;
    height: 46px;
    font: normal 24px Calibri;
    color: #000000;
    text-decoration: none;
    background: url("../img/button.png") no-repeat;
    background-size: cover;
}

.menu_button:hover
{
    background: url("../img/button_hover.png") no-repeat;
    background-size: cover;
}

.menu_button:active
{
    background: url("../img/button_click.png") no-repeat bottom;
    background-size: cover;
}

.health_block
{
    font: normal 20px Calibri;
    padding-right: 10px;
    height: 52px;
    border-right: 3px solid #260001;
}

.health_text
{
    padding-left: 7px;
}

.pause_button
{
    display: block;
    margin: auto;
    width: 52px;
    height: 52px;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}