a
{
    float: left;
    display: block;
}

.menu_button
{
    position: absolute;
    bottom: 50px;
    left: 20px;
    text-align: center;
    padding: 15px 0 0 0;
    width: 242px;
    height: 70px;
    font: normal 36px Calibri;
    color: #000000;
    text-decoration: none;
    background: url("../img/button.png") no-repeat;
}

.result_block
{
    margin: 0 auto;
    width: 501px;
    height: 379px;
    padding-top: 190px;
    position: relative;
    background: url("../img/end_level_background.png") no-repeat;
}

.button
{
    position: absolute;
    bottom: 50px;
    right: 20px;
}

.menu_button:hover
{
    background: url("../img/button_hover.png") no-repeat;
}

.menu_button:active
{
    height: 66px;
    padding-top: 19px;
    background: url("../img/button_click.png") no-repeat;
}

.clear
{
    clear: both;
}