.game_field
{
    background: url("background.png");
    z-index: 0;
    margin-top: 20px;
    position: absolute;
    left: 50%;
}

.control_panel
{
    margin: auto;
    z-index: 0;
    padding: 5px 15px 5px 5px;
    width: 245px;
    border: 10px solid #2d0001;
    border-radius: 10px;
    background: #700005;
}

.health_block
{
    font: normal 20px Calibri;
    padding-right: 10px;
    height: 52px;
    border-right: 3px solid #260001;
}

.health_text
{
    padding-left: 7px;
}