.lobby_list
{
    width: 80%;
    height: 500px;
    margin: 20px auto;
}

.list
{
    border-collapse: collapse;
    background: rgba(47, 47, 47, 0.5);
    border: solid 5px #060606;
}

.list_header
{
    display: table;
    width: 100%;
    height: 40px;
}

.tanks_chart
{
    position: absolute;
    top: 40px;
    right: 20%;
    width: 60%;
}

.list_content
{
    display: table;
    width: 100%;
    height: calc(100% - 40px);
}

.row
{
    display:  table-row;
    text-align: center;
}

.head
{
    font: bold 18px Arial;
    background: rgb(22, 22, 22);
}

.free
{
    height: 100%;
}

.data_cell
{
    font: italic 17px Arial;
    background: rgba(22, 22, 22, 0.5);
    height: 40px;
}

.data_cell:hover
{
    background: rgba(55, 55, 55, 0.5);
}

.column
{
    padding: 10px 0;
    vertical-align: baseline;
    height: 100%;
    display: table-cell;
    border-bottom: solid 5px #060606;
}

.first_column
{
    border-right: solid 5px #060606;
    width: calc(35% - 5px);
}

.second_column
{
    border-right: solid 5px #060606;
    width: calc(35% - 5px);
}

.third_column
{
    width: 30%;
}